

.carousel-indicators li {

    width: 60px;
    height: 5px;
}

body {
    background-color: lightgray;

}


  li a:hover:not(.active) {
    background-color: rgb(99, 94, 94), 0.979);
     }
